body {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

/*-----------------HEADER SECTION---------------------*/
#header-section {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('images/header-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding-bottom: 20em;
}

#header-section ul {
  list-style: none; 
  float: right; 
}

#header-section ul > li {
  display: inline-block;
  margin-right: 2em;
  margin-left: 2em;
}

#header-section ul > li > a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

#header-content {
  width: 30em;
  margin: 0 auto;
  clear: right;
  text-align: center;
  position: relative;
  top: 8em;
}

#header-content > h1 {
  font-size: 3em;
  font-weight: 300;
}

#header-content > h3 {
  font-size: 1.5em;
  font-weight: 100;
}

/*---------------------INTRO SECTION----------------*/

#intro-section {
  padding: 3em 0;
  background-color: #F0F8F6;
  line-height: 1.4;
  text-align: center;
}

#intro-section p {
  width: 30em;
  margin: 0 auto;
  color: #333;
  font-size: 1.2em;
  font-weight: 100;
}

/*--------------------PORTFOLIO SECTION---------------*/

#portfolio-section {
  padding: 3em 0;
  padding-bottom: 5em;
}

#portfolio-section > h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 2em;
}

#portfolio-section > ul {
  width: 71.25em;
  margin: 0 auto;
}

#portfolio-section > ul > li {
  display: inline-block;
  width: 22em;
  margin-right: 1em;
}

#portfolio-section > ul > li:first-child {
  margin-left: 1em;
}

#portfolio-section > ul > li:last-child {
  margin-right: 0;
}

#portfolio-section img {
  border-radius: 5px;
  width: 22em;
  height: 12em;
}

#portfolio-section h3 {
  text-align: center;
  font-weight: 300;
}

/*------------------FOOTER SECTION----------*/

#footer-section {
  background-color: #000;
  color: #fff;
  padding: 3em 0;
}

#footer-section img {
  width: 2.5em;
}

#footer-section ul > li {
  display: inline-block;
  margin-right: 1em;
}

#footer-section ul > li:last-child {
  margin-right: 0;
}

#social-media {
  width: 11em;
  margin: 0 auto;
}

#footer-container p {
  text-align: center;
}
