body {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/*-----------------HEADER SECTION---------------------*/
#header-section {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('images/header-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding-bottom: 20em;
}

.header-links {
  list-style: none; 
  float: right; 
}

.header-links > li {
  display: inline-block;
  margin-right: 2em;
  margin-left: 2em;
}

.header-links > li > a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

#header-content {
  width: 30em;
  margin: 0 auto;
  clear: right;
  text-align: center;
  position: relative;
  top: 8em;
}

#header-content > h1 {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 0;
}

#header-content > h3 {
  font-size: 1.5em;
  font-weight: 100;
  margin-top: 0.5em;
}

#logo-home {
  width: 10em;
}

/*---------------------INTRO SECTION----------------*/

#intro-section {
  padding: 3em 0;
  background-color: #F0F8F6;
  line-height: 1.4;
  text-align: center;
}

#intro-section p {
  width: 29em;
  margin: 0 auto;
  color: #333;
  font-size: 1.2em;
  font-weight: 100;
}

#contact-btn {
  padding: 0.75em 2em;
  background-color: #10E8B8;
  border-radius: 5px;
  border: none;
  margin-top: 1em;
}

#contact-btn > a {
  letter-spacing: 1px;
  font-weight: 300;
  color: #333;
}

/*--------------------PORTFOLIO SECTION---------------*/

.portfolio-section {
  padding: 3em 0;
  padding-bottom: 5em;
}

.portfolio-section h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 2em;
}

.portfolio-section ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-section ul li {
  width: 22em;
  margin-right: 1em;
  margin-top: 1em;
}

.portfolio-section ul li:last-child {
  margin-right: 0;
}

.portfolio-section img {
  border-radius: 5px;
  width: 22em;
  height: 12em;
}

.portfolio-section h3 {
  text-align: center;
  font-weight: 300;
}

/*------------------FOOTER SECTION----------*/

#footer-section {
  background-color: #000;
  color: #fff;
  padding: 2em 0;
}

#footer-section img {
  width: 2.5em;
}

#footer-section ul > li {
  display: inline-block;
  margin-right: 1em;
}

#footer-section ul > li:last-child {
  margin-right: 0;
}

#social-media {
  width: 11em;
  margin: 0 auto;
}

#footer-container p {
  text-align: center;
  font-weight: 100;
}


/*-----------------------------------------------------*/
/*---------------------Portfolio Page------------------*/
/*-----------------------------------------------------*/

/*--------------------NAV SECTION------------*/
.nav-section {
  background-color: #000;
  padding: 1.25em 0;
  overflow: auto;
}

.logo {
  width: 3em;
  float: left;
}

.nav-logo {
  width: 14em;
  float: left;
}

.nav-logo > h1 {
  font-size: 1.25em;
  color: #fff;
  font-weight: 300;
  position: relative;
  left: 0.5em;
}

/*------------------------------------------------------*/
/*-----------------------ABOUT ME PAGE------------------*/
/*------------------------------------------------------*/

#about-section {
  padding: 0em 0 7em 0;
}

#ed-image {
  width: 100%;
  margin: 0 auto;
  background-color: #F0F8F6;
  text-align: center;
  margin-bottom: 4em;
}

#ed-image > img {
 border: 2px solid #50E3C2;
 border-radius: 50%;
 margin: 2em 0;
}

#about-section p {
  width: 32em;
  margin: 0 auto;
  line-height: 1.4;
  font-weight: 200;
}

#about-section h3 {
  width: 27.4em;
  margin: 0 auto;
  color: #0D6D58;
  margin-bottom: 0.25em;
}


/*---------------------------MEDIA QUERIES---------------------*/

/*----------Landing Page-----------*/

@media only screen and (max-width: 540px) {
  .header-links > li {
    margin-right: 1em;
    margin-left: 1em;
  }

  #header-content {
    width: 25em;
  }
}

@media only screen and (max-width: 600px) {
  #intro-section p {
    width: 23em;
    font-size: 1em;
  }
}

@media only screen and (max-width: 735px) {
  .portfolio-section ul li {
    margin-right: 0;
  }
} 

/*----------Portfolio Page--------------*/

@media only screen and (max-width: 785px) {
  .logo,
  .nav-logo {
    float: none;
    text-align: center;
    margin: 0 auto;
  }

  .header-links { 
    float: none;
    width: 25em;
    margin: 0 auto; 
  }

  .header-links > li {
    margin-right: 1em;
    margin-left: 1em;
  }

  .nav-section {
    padding-top: 1em;
  }

  #header-section {
    padding-top: 1em;
  }

}

/*-------------About Me Page-------------*/

@media only screen and (max-width: 585px) {
  #about-section p {
    width: 90%;
    margin: 0 auto;
  }
  
  #about-section h3 {
    width: 27.4em;
    margin: 0 auto;
    margin-left: 5%;
    margin-bottom: 0.25em;
  }

  #header-content {
    width: 90%;
  }

  #header-content > h1 {
    font-size: 2em;
  }

  #header-section {
    padding-top: 1em;
  }
}

@media only screen and (max-width: 1140px) and (min-width: 756px) {
  .nav-logo {
    margin-left: 2em;
  }
}

@media only screen and (max-width: 385px) {
  .header-links {
    width: 90%;
    margin: 0 auto;
  }

  .header-links > li {
    margin-right: 0.15em;
    font-size: 90%;
  }

  .portfolio-section img,
  .portfolio-section ul li,
  .portfolio-section ul li:last-child {
    width: 20em;
    margin: 0 auto;
  }
}
